$color1: #fff;
$color2: #000000;
$color3: #ffc8c8;
$color4: #ffb5b5;
$color5: #ff5858;
$color6: #ff9090;
$color7: #ff6b6b;
$color8: #ffa3a338;
$color9: #ff7d7d;
$color10: #e4dfdfa8;
$color11: #f1f1f17e;

body {
  background-color: $color1;
  color: $color2;
  font-family: lato;
  overflow-x: hidden;
  width: 100vw;
  padding-top: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: inline-block;
  a {
    position: relative; /* establish relative positioning for pseudo-element */
    color: $color6 !important; /* set font color */
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  a::before {
    content: ""; /* create pseudo-element */
    position: absolute; /* position pseudo-element absolutely */
    bottom: 1px; /* position pseudo-element underneath text */
    left: 0; /* start pseudo-element at left edge of text */
    width: 0; /* set initial width to 0 */
    height: 3px; /* set height of underline */
    background-color: $color4; /* set color of underline */
    transition: width 0.2s ease-in-out; /* add transition effect to width */
  }

  a:hover::before {
    animation: expand 0.2s ease-in-out forwards; /* trigger animation on hover */
  }
}

#navbarNavAltMarkup {
  justify-content: space-around;
  .navbar-nav {
    width: 70vw;
    text-align: center;
    justify-content: space-around;
  }
}

#navbar-toggler-icon {
  margin: auto;
  justify-content: space-around;
}

hr {
  background-color: $color2;
  height: 1px;
  margin: 5rem auto 2rem auto;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 0px $color3;
}

header,
section,
footer {
  width: 70vw;
  margin: auto;
}

p {
  font-size: 1.6rem;
}

header {
  // height: 100vh;
  #hidden-h3 {
    display: none;
  }
  margin-top: 2rem;

  #header-div {
    display: flex;
    justify-content: center;
    width: 80vw;
    padding-bottom: 4rem;

    #title-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35%;
      height: 22rem;

      h1 {
        font-family: Rubik;
        font-size: 5.5rem;
        min-height: 11rem;
        max-width: 20rem;
      }
      h3 {
        width: 33rem;
        font-family: Rubik;
        font-size: 2rem;
        margin-top: 1.5rem;
        color: $color5;
      }
    }
    #header-image {
      width: 65%;
      display: flex;

      img {
        width: 20rem;
        margin: auto;
        transition: transform 0.3s ease;
      }
      img:hover {
        transform: scale(1.05);
      }
    }
  }
  #header-content {
    text-align: center;
    p {
      color: $color2;
      font-size: 1.4rem;
    }
    #key-skills {
      text-align: center;
    }
    #header-bio {
      text-align: left;
    }
    #skills-list {
      margin-top: 0.5rem;
      text-align: center;
      span {
        font-size: 1.1rem;
        padding: 0 1rem 0 1rem;
        transition: transform 0.2s ease;
        display: inline-block; /* Add this to enable 3D transformations */
      }

      span:not(:first-child):hover {
        color: $color5;
        transform: skewY(20deg) skewX(80deg);
      }
    }
    #cv-button {
      color: $color1;
      background-color: $color6;
      display: inline-block;
      margin-top: 2rem;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    }
    /* Hover Effect */
    #cv-button:hover {
      background-color: $color5;
    }
    #cv-button:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 3.7);
    }
  }
  @media (max-width: 1000px) {
    header {
      #header-div {
        #title-div {
          h1 {
            font-size: 4.5rem;
          }
        }
        #header-image {
          img {
            width: 15rem;
          }
        }
      }
    }
  }
}

#projects {
  padding-top: 100px;
  #main-project {
    display: flex;
  }
  h2 {
    margin-bottom: 3rem;
    font-family: Rubik;
    color: $color2;
  }
  .main-proj-title {
    font-family: lato;
    font-weight: 500;
    color: $color1;
  }

  #main-video-div {
    position: relative;
    width: 80%;

    margin: 0 auto 2rem auto;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-video {
    width: 100%;
    border: 4px solid $color10;
    aspect-ratio: 16/9;
    justify-content: center;
    box-shadow: 0 4px 8px $color3;
  }
  #other-projects-title {
    margin-top: 4rem;
  }

  .project-grid {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .proj-instance {
    box-shadow: 0px 3px 8px 0px $color2;
    background-color: #ffffff46;
    width: 220px;
    margin-top: 1.5rem;
    margin: 1.5rem 0.5rem auto 0.5rem;
    border-radius: 5px;
    img {
      width: 100%;
      padding: 1rem 1rem 1rem 1rem;
      overflow-y: hidden;
    }
    p,
    a {
      text-align: center;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .proj-instance:hover {
    cursor: pointer;
    animation: wiggle 2.5s;
  }

  .project-info {
    width: 80%;
    margin: 1rem auto 0 auto;
    p {
      text-align: center;
      font-size: 1.1rem;
    }
    span {
      font-size: 1.1rem;
      padding: 0 0.2rem 0 0.2rem;
    }
    span:hover {
      color: $color7;
    }
    .main-proj-check {
      color: $color1;
      background-color: $color6;
      display: inline-block;
      margin-top: 1rem;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    }
    /* Hover Effect */
    .main-proj-check:hover {
      background-color: $color5;
    }
    .main-proj-check:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
}

#qualifications {
  padding-top: 100px;
  h2 {
    font-family: rubik;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .course-div {
    display: flex;
    margin: 2rem auto 2rem auto;
    .course-div-left {
      width: 20%;
      text-align: center;
      img {
        border-radius: 50%;
        width: 3rem;
      }
    }
    .course-div-right {
      width: 80%;
      i {
        padding-left: 0.4rem;
      }
      p {
        color: $color4;
      }
    }
  }
}

#contact-me {
  padding-top: 60px;
  h2 {
    font-family: rubik;
    margin-bottom: 4rem;
  }
  perspective: 1000px;
  #email-div {
    width: 100%;
    max-width: 35rem;
    display: flex;
    margin: 2rem auto 2rem auto;
  }
  #email-form {
    width: 95%;
    max-width: 30rem;
    margin: 1rem auto 2rem auto;
  }
  label {
    text-align: left;
  }
  input,
  textarea {
    background-color: $color11;
    width: 100%;
    border: none;
    padding: 0.5rem;
    margin-left: auto;
    margin-bottom: 2rem;
    box-shadow: 0 1px 1px $color2;
  }
  #email-body {
    height: 10rem;
  }

  .input-class {
    text-align: center;
  }
  #text-box {
    height: 8rem;
  }
  #form-button-div {
    text-align: center;
  }

  #form-button {
    color: $color1;
    background-color: $color6;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }

  #form-button:hover {
    background-color: $color5;
  }

  #form-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 3.7);
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 30px auto 0 auto;
    border: solid 2px #424242;
    border-top: solid 2px $color6;
    border-radius: 50%;
    opacity: 0;
  }

  .check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px, 50px, 0);
    opacity: 0;
    span:nth-child(1) {
      display: block;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg) translate3d(14px, -4px, 0);
      transform-origin: 100%;
    }
  }

  .loader.active {
    animation: loading 2s ease-in-out;
    animation-fill-mode: forwards;
  }

  .check.active {
    opacity: 1;
    transform: translate3d(-4px, 4px, 0);
    transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
    transition-delay: 0.2s;
  }

  #error {
    display: block;
    color: $color7;
    text-align: center;
    animation: blink 1s;
    animation-iteration-count: 6;
    animation-play-state: paused;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 1rem;
  }
  a {
    color: $color6;
  }
  a:hover {
    color: $color5;
  }
}

.hide-project {
  animation: project-expand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.reveal-project {
  animation: project-reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes project-expand {
  0% {
    overflow: hidden;
  }
  75% {
    transform: translate(0px, -500px);
  }

  100% {
    width: 0;
    transform: translate(0px, -500px);
    overflow: hidden;
    opacity: 1;
  }
}

@keyframes project-reveal {
  0% {
    overflow: hidden;
    width: 0;
  }
  75% {
    overflow: hidden;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: $color4;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes expand {
  from {
    width: 0; /* start with width of 0 */
  }
  to {
    width: 100%; /* expand width to 100% */
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1000px) {
  header {
    #header-div {
      padding-bottom: 2rem;
      #title-div {
        height: 18rem;
        h1 {
          font-size: 4.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
      #header-image {
        img {
          width: 15rem;
        }
      }
    }
    #header-content {
      p {
        font-size: 1rem;
      }
      #skills-list {
        span {
          font-size: 0.9rem;
        }
      }
      #cv-button {
        margin-top: 1rem;
        font-size: 14px;
        padding: 8px 16px;
      }
    }
  }
  #projects {
    .project-info {
      p,
      span {
        font-size: 1rem;
      }
      .main-proj-check {
        margin-top: 1rem;
        font-size: 14px;
        padding: 8px 16px;
      }
    }
    .video-overlay {
      height: 1.4rem;
    }
    .main-proj-title {
      padding-top: 0.3rem;
      font-size: 1.2rem;
    }
    .proj-instance {
      width: 180px;
      p {
        font-size: 1.1rem;
      }
    }
  }
  #qualifications {
    padding-top: 100px;
    h2 {
      font-size: 1.8rem;
    }
    h3 {
    }
  }
  #contact-me {
    h2 {
      font-size: 2rem;
    }
    #form-button {
      margin-top: 1rem;
      font-size: 14px;
      padding: 8px 16px;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 860px) {
  header {
    #header-div {
      padding-bottom: 0;
      #title-div {
        height: 18rem;
        h1 {
          font-size: 3.5rem;
          min-height: 4rem;
        }
        h3 {
          font-size: 1.3rem;
          margin-top: 1rem;
        }
      }
      #header-image {
        img {
          width: 12rem;
        }
      }
    }
    #header-content {
      #header-bio {
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
  #projects {
    .proj-instance {
      width: 160px;
      p {
        font-size: 1.1rem;
      }
    }
  }
  #qualifications {
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
    #error {
      p {
        font-size: 0.5rem;
      }
    }
  }
  footer {
    p,
    a {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 700px) {
  header {
    #header-div {
      height: 17rem;
      padding-bottom: 0;
      #title-div {
        height: 18rem;
        h3 {
          font-size: 1.2rem;
        }
      }
    }
    #header-content {
      #skills-list {
        margin-top: 2rem;
        span {
          padding: 0 0.5rem 0 0.5rem;
        }
      }
    }
  }
  #projects {
    h2 {
      font-size: 1.5rem;
    }
    #main-video-div {
      width: auto;
    }
    .project-info {
      p,
      span {
        font-size: 0.9rem;
      }
    }
    .proj-instance {
      width: 140px;
      p {
        font-size: 0.9rem;
      }
    }
  }
  #qualifications {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.9rem;
    }
    .course-div {
      .course-div-left {
        img {
          width: 2.5rem;
        }
      }
    }
  }
  #contact-me {
    padding-top: 1.5rem;
    h2 {
      font-size: 1.5rem;
    }
    #email-form {
      width: 20rem;
    }
  }
}

@media (max-width: 500px) {
  header {
    #hidden-h3 {
      display: block;
      font-size: 1.1rem;
      font-family: rubik;
      color: $color5;
      margin-bottom: 1rem;
    }
    #header-div {
      height: 20rem;
      max-width: 15rem;
      margin: auto;
      flex-direction: column;
      #title-div {
        width: 100%;
        height: 10vh;
        h1 {
          font-size: 2rem;
          text-align: center;
        }

        h3 {
          display: none;
        }
      }
      #header-image {
        width: 100%;
      }
    }
    #header-content {
      #header-bio {
        font-size: 0.7rem;
      }
      #skills-list {
        span {
          font-size: 0.7rem;
          padding: 0 0.25rem;
        }
      }
      #cv-button {
        font-size: 10px;
      }
    }
  }
  #projects {
    h2 {
      font-size: 1.3rem;
    }
    #main-project {
      height: 10rem;
    }
    .video-overlay {
      height: 1.1rem;
    }
    .main-proj-title {
      padding-top: 0.3rem;
      font-size: 1.2rem;
    }
    .project-info {
      .main-proj-check {
        font-size: 10px;
      }
      p,
      span {
        font-size: 0.8rem;
      }
    }
    .proj-instance {
      width: 120px;
      p {
        font-size: 0.8rem;
      }
    }
  }
  #qualifications {
    padding-top: 100px;
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.7rem;
    }
    .course-div {
      .course-div-left {
        img {
          width: 2rem;
        }
      }
    }
  }
  #contact-me {
    #form-button {
      font-size: 12px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
    #email-form {
      width: 17rem;
    }
  }
}

@media (max-width: 390px) {
  #projects {
    .proj-instance {
      width: auto;
      p {
        font-size: 1rem;
      }
    }
  }
  #contact-me {
    #form-button {
      font-size: 12px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
    input,
    textarea {
      font-size: 0.6rem;
    }
    #email-form {
      width: 14rem;
    }
    #email-body {
      height: 5rem;
    }
  }
  footer {
    p,
    a {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 320px) {
  header {
    #hidden-h3 {
      display: block;
      font-size: 1.1rem;
      font-family: rubik;
      color: $color5;
      margin-bottom: 1rem;
    }
    #header-div {
      height: 20rem;
      max-width: 15rem;
      margin: auto;
      flex-direction: column;
      #title-div {
        width: 100%;
        height: 10vh;
        h1 {
          font-size: 2rem;
          text-align: center;
        }

        h3 {
          display: none;
        }
      }
      #header-image {
        width: 100%;
      }
    }
    #header-content {
      #header-bio {
        font-size: 0.7rem;
      }
      #skills-list {
        margin-top: 0;
        span {
          font-size: 0.7rem;
          padding: 0 0.1rem;
        }
      }
      #cv-button {
        font-size: 10px;
      }
    }
  }
  #projects {
    h2 {
      margin-bottom: 2.5rem;
      font-size: 1.2rem;
    }
    #main-project {
      height: 6rem;
    }
    .video-overlay {
      height: 0.8rem;
    }
    .main-proj-title {
      padding-top: 0.6rem;
      font-size: 0.6rem;
    }
    .project-info {
      .main-proj-check {
        font-size: 10px;
      }

      p,
      span {
        font-size: 0.6rem;
      }
    }
  }
  #qualifications {
    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.6rem;
    }
    .course-div {
      .course-div-left {
        img {
          width: 1.5rem;
        }
      }
    }
  }
}
