body {
  background-color: #fff;
  color: #000000;
  font-family: lato;
  overflow-x: hidden;
  width: 100vw;
  padding-top: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: inline-block;
}
.navbar a {
  position: relative; /* establish relative positioning for pseudo-element */
  color: #ff9090 !important; /* set font color */
  text-transform: uppercase;
  font-size: 0.9rem;
}
.navbar a::before {
  content: ""; /* create pseudo-element */
  position: absolute; /* position pseudo-element absolutely */
  bottom: 1px; /* position pseudo-element underneath text */
  left: 0; /* start pseudo-element at left edge of text */
  width: 0; /* set initial width to 0 */
  height: 3px; /* set height of underline */
  background-color: #ffb5b5; /* set color of underline */
  transition: width 0.2s ease-in-out; /* add transition effect to width */
}
.navbar a:hover::before {
  animation: expand 0.2s ease-in-out forwards; /* trigger animation on hover */
}

#navbarNavAltMarkup {
  justify-content: space-around;
}
#navbarNavAltMarkup .navbar-nav {
  width: 70vw;
  text-align: center;
  justify-content: space-around;
}

#navbar-toggler-icon {
  margin: auto;
  justify-content: space-around;
}

hr {
  background-color: #000000;
  height: 1px;
  margin: 5rem auto 2rem auto;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 0px #ffc8c8;
}

header,
section,
footer {
  width: 70vw;
  margin: auto;
}

p {
  font-size: 1.6rem;
}

header {
  margin-top: 2rem;
}
header #hidden-h3 {
  display: none;
}
header #header-div {
  display: flex;
  justify-content: center;
  width: 80vw;
  padding-bottom: 4rem;
}
header #header-div #title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 22rem;
}
header #header-div #title-div h1 {
  font-family: Rubik;
  font-size: 5.5rem;
  min-height: 11rem;
  max-width: 20rem;
}
header #header-div #title-div h3 {
  width: 33rem;
  font-family: Rubik;
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #ff5858;
}
header #header-div #header-image {
  width: 65%;
  display: flex;
}
header #header-div #header-image img {
  width: 20rem;
  margin: auto;
  transition: transform 0.3s ease;
}
header #header-div #header-image img:hover {
  transform: scale(1.05);
}
header #header-content {
  text-align: center;
  /* Hover Effect */
}
header #header-content p {
  color: #000000;
  font-size: 1.4rem;
}
header #header-content #key-skills {
  text-align: center;
}
header #header-content #header-bio {
  text-align: left;
}
header #header-content #skills-list {
  margin-top: 0.5rem;
  text-align: center;
}
header #header-content #skills-list span {
  font-size: 1.1rem;
  padding: 0 1rem 0 1rem;
  transition: transform 0.2s ease;
  display: inline-block; /* Add this to enable 3D transformations */
}
header #header-content #skills-list span:not(:first-child):hover {
  color: #ff5858;
  transform: skewY(20deg) skewX(80deg);
}
header #header-content #cv-button {
  color: #fff;
  background-color: #ff9090;
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
header #header-content #cv-button:hover {
  background-color: #ff5858;
}
header #header-content #cv-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
@media (max-width: 1000px) {
  header header #header-div #title-div h1 {
    font-size: 4.5rem;
  }
  header header #header-div #header-image img {
    width: 15rem;
  }
}

#projects {
  padding-top: 100px;
}
#projects #main-project {
  display: flex;
}
#projects h2 {
  margin-bottom: 3rem;
  font-family: Rubik;
  color: #000000;
}
#projects .main-proj-title {
  font-family: lato;
  font-weight: 500;
  color: #fff;
}
#projects #main-video-div {
  position: relative;
  width: 80%;
  margin: 0 auto 2rem auto;
}
#projects .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects #main-video {
  width: 100%;
  border: 4px solid rgba(228, 223, 223, 0.6588235294);
  aspect-ratio: 16/9;
  justify-content: center;
  box-shadow: 0 4px 8px #ffc8c8;
}
#projects #other-projects-title {
  margin-top: 4rem;
}
#projects .project-grid {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
#projects .proj-instance {
  box-shadow: 0px 3px 8px 0px #000000;
  background-color: rgba(255, 255, 255, 0.2745098039);
  width: 220px;
  margin-top: 1.5rem;
  margin: 1.5rem 0.5rem auto 0.5rem;
  border-radius: 5px;
}
#projects .proj-instance img {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  overflow-y: hidden;
}
#projects .proj-instance p,
#projects .proj-instance a {
  text-align: center;
}
#projects .proj-instance p {
  font-size: 1.3rem;
}
#projects .proj-instance:hover {
  cursor: pointer;
  animation: wiggle 2.5s;
}
#projects .project-info {
  width: 80%;
  margin: 1rem auto 0 auto;
  /* Hover Effect */
}
#projects .project-info p {
  text-align: center;
  font-size: 1.1rem;
}
#projects .project-info span {
  font-size: 1.1rem;
  padding: 0 0.2rem 0 0.2rem;
}
#projects .project-info span:hover {
  color: #ff6b6b;
}
#projects .project-info .main-proj-check {
  color: #fff;
  background-color: #ff9090;
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
#projects .project-info .main-proj-check:hover {
  background-color: #ff5858;
}
#projects .project-info .main-proj-check:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#qualifications {
  padding-top: 100px;
}
#qualifications h2 {
  font-family: rubik;
  margin-bottom: 4rem;
}
#qualifications h3 {
  font-size: 1.4rem;
}
#qualifications p {
  font-size: 1.2rem;
}
#qualifications .course-div {
  display: flex;
  margin: 2rem auto 2rem auto;
}
#qualifications .course-div .course-div-left {
  width: 20%;
  text-align: center;
}
#qualifications .course-div .course-div-left img {
  border-radius: 50%;
  width: 3rem;
}
#qualifications .course-div .course-div-right {
  width: 80%;
}
#qualifications .course-div .course-div-right i {
  padding-left: 0.4rem;
}
#qualifications .course-div .course-div-right p {
  color: #ffb5b5;
}

#contact-me {
  padding-top: 60px;
  perspective: 1000px;
}
#contact-me h2 {
  font-family: rubik;
  margin-bottom: 4rem;
}
#contact-me #email-div {
  width: 100%;
  max-width: 35rem;
  display: flex;
  margin: 2rem auto 2rem auto;
}
#contact-me #email-form {
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto 2rem auto;
}
#contact-me label {
  text-align: left;
}
#contact-me input,
#contact-me textarea {
  background-color: rgba(241, 241, 241, 0.4941176471);
  width: 100%;
  border: none;
  padding: 0.5rem;
  margin-left: auto;
  margin-bottom: 2rem;
  box-shadow: 0 1px 1px #000000;
}
#contact-me #email-body {
  height: 10rem;
}
#contact-me .input-class {
  text-align: center;
}
#contact-me #text-box {
  height: 8rem;
}
#contact-me #form-button-div {
  text-align: center;
}
#contact-me #form-button {
  color: #fff;
  background-color: #ff9090;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
#contact-me #form-button:hover {
  background-color: #ff5858;
}
#contact-me #form-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
#contact-me .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #ff9090;
  border-radius: 50%;
  opacity: 0;
}
#contact-me .check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}
#contact-me .check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
#contact-me .check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}
#contact-me .loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}
#contact-me .check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}
#contact-me #error {
  display: block;
  color: #ff6b6b;
  text-align: center;
  animation: blink 1s;
  animation-iteration-count: 6;
  animation-play-state: paused;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 1rem;
}
footer a {
  color: #ff9090;
}
footer a:hover {
  color: #ff5858;
}

.hide-project {
  animation: project-expand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.reveal-project {
  animation: project-reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes project-expand {
  0% {
    overflow: hidden;
  }
  75% {
    transform: translate(0px, -500px);
  }
  100% {
    width: 0;
    transform: translate(0px, -500px);
    overflow: hidden;
    opacity: 1;
  }
}
@keyframes project-reveal {
  0% {
    overflow: hidden;
    width: 0;
  }
  75% {
    overflow: hidden;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #ffb5b5;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes expand {
  from {
    width: 0; /* start with width of 0 */
  }
  to {
    width: 100%; /* expand width to 100% */
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 1000px) {
  header #header-div {
    padding-bottom: 2rem;
  }
  header #header-div #title-div {
    height: 18rem;
  }
  header #header-div #title-div h1 {
    font-size: 4.5rem;
  }
  header #header-div #title-div h3 {
    font-size: 1.5rem;
  }
  header #header-div #header-image img {
    width: 15rem;
  }
  header #header-content p {
    font-size: 1rem;
  }
  header #header-content #skills-list span {
    font-size: 0.9rem;
  }
  header #header-content #cv-button {
    margin-top: 1rem;
    font-size: 14px;
    padding: 8px 16px;
  }
  #projects .project-info p,
  #projects .project-info span {
    font-size: 1rem;
  }
  #projects .project-info .main-proj-check {
    margin-top: 1rem;
    font-size: 14px;
    padding: 8px 16px;
  }
  #projects .video-overlay {
    height: 1.4rem;
  }
  #projects .main-proj-title {
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }
  #projects .proj-instance {
    width: 180px;
  }
  #projects .proj-instance p {
    font-size: 1.1rem;
  }
  #qualifications {
    padding-top: 100px;
  }
  #qualifications h2 {
    font-size: 1.8rem;
  }
  #contact-me h2 {
    font-size: 2rem;
  }
  #contact-me #form-button {
    margin-top: 1rem;
    font-size: 14px;
    padding: 8px 16px;
    margin-bottom: 0;
  }
}
@media (max-width: 860px) {
  header #header-div {
    padding-bottom: 0;
  }
  header #header-div #title-div {
    height: 18rem;
  }
  header #header-div #title-div h1 {
    font-size: 3.5rem;
    min-height: 4rem;
  }
  header #header-div #title-div h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  header #header-div #header-image img {
    width: 12rem;
  }
  header #header-content #header-bio {
    margin-bottom: 1rem;
    text-align: center;
  }
  #projects .proj-instance {
    width: 160px;
  }
  #projects .proj-instance p {
    font-size: 1.1rem;
  }
  #qualifications h3 {
    font-size: 1.2rem;
  }
  #qualifications p {
    font-size: 1rem;
  }
  #qualifications #error p {
    font-size: 0.5rem;
  }
  footer p,
  footer a {
    font-size: 0.8rem;
  }
}
@media (max-width: 700px) {
  header #header-div {
    height: 17rem;
    padding-bottom: 0;
  }
  header #header-div #title-div {
    height: 18rem;
  }
  header #header-div #title-div h3 {
    font-size: 1.2rem;
  }
  header #header-content #skills-list {
    margin-top: 2rem;
  }
  header #header-content #skills-list span {
    padding: 0 0.5rem 0 0.5rem;
  }
  #projects h2 {
    font-size: 1.5rem;
  }
  #projects #main-video-div {
    width: auto;
  }
  #projects .project-info p,
  #projects .project-info span {
    font-size: 0.9rem;
  }
  #projects .proj-instance {
    width: 140px;
  }
  #projects .proj-instance p {
    font-size: 0.9rem;
  }
  #qualifications h2 {
    font-size: 1.5rem;
  }
  #qualifications h3 {
    font-size: 1rem;
  }
  #qualifications p {
    font-size: 0.9rem;
  }
  #qualifications .course-div .course-div-left img {
    width: 2.5rem;
  }
  #contact-me {
    padding-top: 1.5rem;
  }
  #contact-me h2 {
    font-size: 1.5rem;
  }
  #contact-me #email-form {
    width: 20rem;
  }
}
@media (max-width: 500px) {
  header #hidden-h3 {
    display: block;
    font-size: 1.1rem;
    font-family: rubik;
    color: #ff5858;
    margin-bottom: 1rem;
  }
  header #header-div {
    height: 20rem;
    max-width: 15rem;
    margin: auto;
    flex-direction: column;
  }
  header #header-div #title-div {
    width: 100%;
    height: 10vh;
  }
  header #header-div #title-div h1 {
    font-size: 2rem;
    text-align: center;
  }
  header #header-div #title-div h3 {
    display: none;
  }
  header #header-div #header-image {
    width: 100%;
  }
  header #header-content #header-bio {
    font-size: 0.7rem;
  }
  header #header-content #skills-list span {
    font-size: 0.7rem;
    padding: 0 0.25rem;
  }
  header #header-content #cv-button {
    font-size: 10px;
  }
  #projects h2 {
    font-size: 1.3rem;
  }
  #projects #main-project {
    height: 10rem;
  }
  #projects .video-overlay {
    height: 1.1rem;
  }
  #projects .main-proj-title {
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }
  #projects .project-info .main-proj-check {
    font-size: 10px;
  }
  #projects .project-info p,
  #projects .project-info span {
    font-size: 0.8rem;
  }
  #projects .proj-instance {
    width: 120px;
  }
  #projects .proj-instance p {
    font-size: 0.8rem;
  }
  #qualifications {
    padding-top: 100px;
  }
  #qualifications h2 {
    font-size: 1.3rem;
  }
  #qualifications h3 {
    font-size: 0.9rem;
  }
  #qualifications p {
    font-size: 0.7rem;
  }
  #qualifications .course-div .course-div-left img {
    width: 2rem;
  }
  #contact-me #form-button {
    font-size: 12px;
  }
  #contact-me h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  #contact-me #email-form {
    width: 17rem;
  }
}
@media (max-width: 390px) {
  #projects .proj-instance {
    width: auto;
  }
  #projects .proj-instance p {
    font-size: 1rem;
  }
  #contact-me #form-button {
    font-size: 12px;
  }
  #contact-me h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  #contact-me input,
  #contact-me textarea {
    font-size: 0.6rem;
  }
  #contact-me #email-form {
    width: 14rem;
  }
  #contact-me #email-body {
    height: 5rem;
  }
  footer p,
  footer a {
    font-size: 0.6rem;
  }
}
@media (max-width: 320px) {
  header #hidden-h3 {
    display: block;
    font-size: 1.1rem;
    font-family: rubik;
    color: #ff5858;
    margin-bottom: 1rem;
  }
  header #header-div {
    height: 20rem;
    max-width: 15rem;
    margin: auto;
    flex-direction: column;
  }
  header #header-div #title-div {
    width: 100%;
    height: 10vh;
  }
  header #header-div #title-div h1 {
    font-size: 2rem;
    text-align: center;
  }
  header #header-div #title-div h3 {
    display: none;
  }
  header #header-div #header-image {
    width: 100%;
  }
  header #header-content #header-bio {
    font-size: 0.7rem;
  }
  header #header-content #skills-list {
    margin-top: 0;
  }
  header #header-content #skills-list span {
    font-size: 0.7rem;
    padding: 0 0.1rem;
  }
  header #header-content #cv-button {
    font-size: 10px;
  }
  #projects h2 {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
  }
  #projects #main-project {
    height: 6rem;
  }
  #projects .video-overlay {
    height: 0.8rem;
  }
  #projects .main-proj-title {
    padding-top: 0.6rem;
    font-size: 0.6rem;
  }
  #projects .project-info .main-proj-check {
    font-size: 10px;
  }
  #projects .project-info p,
  #projects .project-info span {
    font-size: 0.6rem;
  }
  #qualifications h2 {
    font-size: 1.2rem;
  }
  #qualifications h3 {
    font-size: 0.8rem;
  }
  #qualifications p {
    font-size: 0.6rem;
  }
  #qualifications .course-div .course-div-left img {
    width: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */